@charset "utf-8";
@import 'mixin';

/*-------------------------------------------------
title       : 레이아웃
Author      : PLAN I
Create date : 2024-11-22
-------------------------------------------------*/

//헤더
.header-wrap {  
    display: flex; justify-content: space-between; align-items: center; height: 5.8rem; padding: 0 2rem;
    .header-set { display: inline-block; padding: 0 1.2rem; line-height: 2.4rem; border-radius: 2.4rem; font-size: 1.3rem; border: 1px solid #e0e0e0; }
}

//푸터

#footer {
    position: fixed; bottom: 0; left: 0; width: 100%; border: 1px solid #eee; border-radius: 3rem 3rem 0 0 ; padding: 1.8rem; background-color: #fff;
    ul { display: flex; }
    li {
        flex: 1 1 25%; text-align: center; 
        &:first-child { color: #005CB2; }
        & + li { border-left: 1px solid #eee; }
        a { display: flex; align-items: center; flex-direction: column; } 
        img { margin-bottom: 1rem; }
        span { font-size: 1.3rem; font-weight: 500; }
    }
}